html{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body{
  height: 100%;
}

body{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 1.3;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.section-title{
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header{
  background-color: black;
}

.header-main{
  background-color: transparent;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.header__inner{
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list{
  display: flex;
  gap: 35px;
}

.menu__list-link{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.menu__list-link:hover{
  color: #512da8;
  transition: .5s;
}

.menu__list-link--active{
  color: blue;
}

.footer{
  background-color: black;
  padding: 50px 0 32px;
}

.footer__menu{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  color: #fff;
}

.footer__menu-list{
  max-width: 250px;
}

.footer__menu-title{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item{
  padding-top: 20px;
}

.footer__menu-img{
  padding-bottom: 20px;
}

.footer__menu-link:hover{
  color: #512da8;
  transition: .5s;
}

.social{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 52px;
}

.footer__copy{
  color: #4d4c4c;
  text-align: center;
}

.main{
  flex-grow: 1;
}

.top{
  color: #fff;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
}

.title{
  padding-bottom: 40px;
  font-size: 96px;
  font-weight: 700;
}

.top__link{
  background-color: black;
  padding: 23px;
  max-width: 430px;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

.top__link:hover{
  color: #512da8;
  transition: .5s;
}

.main__inner::after{
  content: '';
  background: rgba(21, 21, 21,.3);
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;  
  top: 0;
}

.main__img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.section-text{
  text-align: center;
  margin-bottom: 50px;
  padding: 0 150px;
}

.why-choose{
  padding: 150px 0;
}

.why-choose__list_1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
  padding-top: 50px;
}

.why-choose__list_2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.why-choose__item-img{
  margin-bottom: 30px;
}

.why-choose__item-title{
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
}

.why-choose__item-text{
  text-align: center;
}

.our-advantades{
  margin-bottom: 150px;
}

.our-advantages__inner{
  max-width: 600px;
  margin: 0 auto;
}

.our-advantages__text{
  margin: 25px 0;
}

.our__advantages-list{
  padding-top: 20px;
  counter-reset: myCounter;
}

.our__advantages-item{
  list-style-type: none;
  width: 270px;
  position: relative;
  margin-left: auto;
  box-sizing: content-box;
  padding: 19px 0 19px 240px;
}

.our__advantages-item::before{
  counter-increment: myCounter;
  content: counter(myCounter);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  left: 0;
  margin-top: 30px;
}

.our__advantages-item-title{
  font-size: 22px;
  font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
}

.quality-guaranteed{
  padding-bottom: 150px;
}

.quality-guaranteed__inner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.quality-guaranteed__text>.section-title{
  text-align: start;
}

.quality-guaranteed__inner-text{
  margin-top: 25px;
}

.more-info-button{
  text-align: center;
  color: #fff;
  background-color: black;
  padding: 23px;
  max-width: 200px;
  width: 100%;
  display: inline-block;
  margin-top: 25px;
}

.more-info-button:hover{
  color: #512da8;
  transition: .5s;
}

.quality-guaranteed__inner-image{
  display: inline-block;
  max-width: 100%;
  height: 100%;
}

.contacts{
  padding: 100px 0 150px;
}

.contacts__title{
  margin-bottom: 20px;
}

.contacts__text{
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
  padding: 0 100px;
}

.form{
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__input{
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid blue;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 1.3;
  color: black;
}

.form__input::placeholder,
.form__textarea::placeholder{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 1.3;
  color: black;
  opacity: .5;
}

.form__textarea{
  width: 100%;
  resize: none;
  padding: 28px 20px;
  height: 290px;
  border: 1px solid blue;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 1.3;
  color: black;
  margin-bottom: 50px;
}

.form__btn{
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  padding: 13px 61px;
  margin: 0 auto;
}

.form__btn:hover{
  color: #512da8;
  transition: .5s;
}

.blog{
  padding-bottom: 50px;
}

.blog__items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-left: 35px;
  padding-right: 35px;
}

.blog__item{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog__item-img{
  margin-bottom: 30px;
  width: 100%;
  height: 260px;
}

.blog__item-title{
  flex-basis: 446px;
  font-size: 22px;
  font-weight: 700;
}

.blog__item-link{
  color: #fff;
  background-color: blue;
  padding: 10px 15px;
}

.blog__item-link:hover{
  color: #512da8;
  transition: .5s;
}

.choose{
  padding: 100px 0 150px;
}

.tabs__btn{
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.tabs__btn-item{
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.tabs__btn-item:hover{
  color: #512da8;
  transition: .5s;
}

.tabs__btn-item--active{
  color: blue;
}

.tabs__content-item{
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
}

.tabs__content-item.tabs__content-item--active{
  display: grid;
}

.card{
  text-align: center;
}

.card__img{
  display: block;
}

.card__content{
  padding: 0 5px;
}

.card__title{
  padding-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card__text{
  margin-bottom: 20px;
}

.card__price{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
}

.card__link{
  display: block;
  color: blue;
}

.card__link:hover{
  color: #512da8;
  transition: .5s;
}

.top-services{
  color: #fff;
  text-align: center;
  padding-top: 370px;
  position: absolute;
  left: 0;
  right: 0;
}

.services-title{
  font-size: 48px;
  font-weight: 700;
}

.services__img{
  margin: 80px 0 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.service-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.service-item{
  padding-left: 20px;
  padding-right: 20px;
}

.service-item__image{
  width: 100%;
  margin: 50px 0 30px;
}

.service-title{
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 15px;
}

.top-about{
  color: #fff;
  text-align: center;
  padding-top: 300px;
  position: absolute;
  left: 0;
  right: 0;
}

.about-us{
  font-size: 48px;
  font-weight: 700;
}

.about-description{
  padding: 20px 200px 0;
}

.about__img{
  margin: 80px 0 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.about-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin-bottom: 150px;
}

.about-item__title{
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 40px;
}

.adventure-block__item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.text-block{
  padding-top: 190px;
}

.adventure-block{
  margin-bottom: 150px;
}

.adventure-block__title{
  font-size: 22px;
  font-weight: 700;
}

.adventure-block__text-main{
  margin: 40px 0;
}

.adventure-block__text{
  margin-bottom: 25px;
}

.adventure-block__link{
  color: #fff;
  background-color: black;
  padding: 23px;
  width: 50%;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.adventure-block__link:hover{
  color: #512da8;
  transition: .5s;
}

.adventure-block__image{
  max-width: 600px;
  max-height: 710px;
}

.btn-up {
  position: fixed;
  background-color: blue;
  right: 20px;
  bottom: 20px;
  border-radius: 22px;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.btn-up::before {
  content: "";
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.btn-up:hover{
  background-color: #512da8;
  transition: .5s;
}
















